# --- main options ---

# URI containing secret and config for TOTP, which determines the token to login
# app will generate one, if not provided, but you should copy it to your .env file
# format: "otpauth://totp/<label>?secret=<secret-key>"
#TOTP_URI=''                # blank to have the app generate one at random

# how long will someone stay logged in, measured in seconds, zero for DEFAULT
#COOKIE_TTL=2592000         # default 30 days

# we can use a central auth, so that users only need to login once to have access to
# multiple services. Requires using sub-domains under the same domain.
# IE: if enabled have "service-one.example.com" redirect "auth.example.com", and after
# successful auth, user can visit "service-two.example.com" without having to login again.
#SUBDOMAIN_REDIRECT=false   # default disabled, boolean
#AUTH_SUBDOMAIN=''          # blank, hostname we send user to, to see login page

# --- extra options ---

# how long do we allow *ALL* traffic from an ip address after successful login
# could be useful if you have a system which does not handle cookies
#IP_TTL=0                   # default disabled, time in seconds

# once blocked, do we respond with "I'm a teapot", false to use "Too many requests"
#TEAPOT=true                # default enabled, boolean

# --- rate limiting ---

# Note: rate limiting can *NOT* be disabled, but you could allow hundreds of logins a second
# rate limiting, default is the lower of 2 per 30 seconds or 10 per hour
#BURST_COUNT=2              # 2 per 30 seconds
#BURST_TIME=30              # seconds
#UPPER_COUNT=10             # 10 per hour
#UPPER_TIME=3600            # seconds (1 hour)

# --- styling options ---

#TITLE='Pre-Authentication System'
#BG_COLOR='#029386'         # teal
#FG_COLOR='#ffffff'         # white
#ERROR_COLOR='#ffb16d'      # apricot (light orange)
#ID_NAME='Session ID'
#TOKEN_NAME='Authentication Token'
#SUBMIT_NAME='Submit'
#ERROR_MESSAGE='Unsuccessful login attempt'
# title and message to use on block page, if teapot is true
#TEAPOT_TITLE="I'm a teapot"
#TEAPOT_MESSAGE='I refuse to brew coffee'
# title and message to use on block page, if teapot is false
#TOO_MANY_TITLE='Too many requests'
#TOO_MANY_MESSAGE='Try again later'

